body {
	background-color: #ccccff;
}

header {
  background: url(../imgs/img1875.png);
  background-size: cover;
  background-position: center;
  min-height: 160px; 
  max-height: 160px;
  /*opacity: 0.5;
  */position: sticky;
  top: 0;
  z-index: 67108864; 
}

/*@media screen and (max-width: 670px) {
	header {
		min-height: 500px;
	}
}*/

.section {
	padding-top: 4vh;
	padding-bottom: 4vh;
}

header * {
	opacity: 1.0;
}

.brand-logo {

}

.main-link {
	/*text-shadow: 4px 3px 0px #a09, 9px 8px 0px rgba(0,0,0,0.15);*/
	font-size: 2.4vw;
	position: relative;
	right: -10vw;
}

.site-name {
	/*text-shadow: 4px 3px 0px #a09, 9px 8px 0px rgba(0,0,0,0.15);*/
	/*text-shadow: 0 0 3px #FF0055;*/
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	font-size: 3.3vw;
	font-weight: bold;
	position: relative;
	left: -10vw;
	top: -1.5vh;
}

.site-name, .main-link {
	/*text-shadow: 0 0 3px #FF0055;*/
	text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;

}

img {
	border: 6px ridge #601040;
}

iframe {
	max-width: 100%;
	border: 6px ridge #601040;
}